mixin footer
	footer.footer
		.footer__wrapper.section_in
			.footer_column 
				a(href='').footer__logo 
					img(src="images/footer_logo.png", alt="")
				.footer_column__title 
					| Платформа AI
				+social({
					mod_block: 'footer_social',
					items: [
						{name_icon: 'facebook', mod_link: 'facebook'},
						{name_icon: 'twitter', mod_link: 'twitter'},
						{name_icon: 'rss', mod_link: 'rss'},
						{name_icon: 'youtube', mod_link: 'youtube'}
					]
				})
				.footer__copyright 
					span ©
					span 2020 Everest. <br> ALL RIGHTS RESERVED
			.footer_column 
				+menu({
					gl_class: 'footer_nav',
					items: [
						{title: 'Кто мы', url: '#', active: false},
						{title: 'Что мы делаем', url: '#', active: false},
						{title: 'Направления работы', url: '#', active: false},
						{title: 'Компетенции', url: '#', active: false},
						{title: 'Команда', url: '#', active: false},
						{title: 'Новости', url: '#', active: false},
						{title: 'Партнеры', url: '#', active: false},
						{title: 'Контакты', url: '#', active: false}
					]
				})
			.footer_column 
				.footer_column__title 
					| Аналитика
				.footer_tag_list
					.footer_tag_list__title Решение:
					+menu({
						gl_class: 'footer_tag_list',
						items: [
							{title: 'Банки', url: '#', active: false},
							{title: 'Страхование', url: '#', active: false},
							{title: 'Здравоохранение', url: '#', active: false},
							{title: 'Транспорт и логистика', url: '#', active: false},
							{title: 'Государственный сектор', url: '#', active: false},
							{title: 'Ритейл и eCommerce', url: '#', active: false},
							{title: 'Телекомуникации', url: '#', active: false}
						]
					})
			.footer_column        
				.footer_column__title 
					| О нас
				.footer_description 
					p.
						EVEREST - опытный интегратор digital-технологий,
						 продуктов и сервисов для цифровой трансформации бизнеса,
						  корпоративного и государственного секторов.

					p.
						Разрабатывает и внедряет решения на базе AI,
						 используя методы Data Data и ML для совершенствования
						  и автоматизации бизнес-процессов клиентов.

					p.
						Всегда оперирует тенденциями цифрового мира и концентрирует
						 свои усилия на уникальности и инновационности методов в работе с 
						 каждым клиентом над созданием и адаптацией digital-идей и концепций.
				form.footer_form 
					input.footer_form__input_email(type="email" placeholder='Email')
					button.footer_form__btn_submit(type='submit') Подписаться

       
           
            
           
            
