mixin header
	header.header.container
		.header_logo
			+icon('header_logo')
		nav.header_nav 
			+menu({
				gl_class: 'header_nav',
				items: [
					{title: 'О нас', url: '#', active: false},
					{title: 'Решения', url: '#', active: false},
					{title: 'Аналитика', url: '#', active: false},
					{title: 'Партнеры', url: '#', active: false},
					{title: 'Контакты', url: '#', active: false},
					{title: 'Подписка', url: '#', active: false}
				]
			})
		+social({
			mod_block: 'header_social',
			items: [
				{name_icon: 'facebook', mod_icon: 'facebook'},
				{name_icon: 'twitter', mod_icon: 'twitter'},
				{name_icon: 'rss', mod_icon: 'rss'},
				{name_icon: 'youtube', mod_icon: 'youtube'}
			]
		})
		.header_search 
			+icon('search')

		+lang({
			items:[
				{name: 'Ua'},
				{name: 'Ru'}
			]
		})
		