.burger {
	position: relative;
	display: inline-block;
	width: 2.5rem;
	z-index: 102;

	@include bp($point_5, min) {
		height: 1.2rem;
	}

	@include bp($point_2, min) {
		display: none;
	}
	
	@include bp($point_5) {
		height: 1.3rem;
	}

	& span {
		position: absolute;
		top: 50%;
		left: 0;
		width: inherit;
		height: 2px;
		transform: translateY(-50%);
		background-color: $fontColor;

		transition: .3s ease-in-out;
	}
	
	&::before,
	&::after{
		content: '';
		position: absolute;
		width: inherit;
		height: 2px;
		background-color: $fontColor;

		transition: .3s;
	}

	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}

	&.burger--open {
		& span {
			opacity: 0;
			transform: translateX(-100%);
		}
		&::before{
			top: 5px;
			transform: rotate(45deg);
		}
		&::after{
			bottom: 5px;
			transform: rotate(-45deg);
		}
	}
}