$fontFamily: 'ApercuPro';
$fontColor: #19202C;
$greyColor: #777777;
$footerBg: #BD243A;

html {
    font-size: 10px;
    @include bp($point_5){
        font-size: 9px;
    }
}
body {
    font-family: $fontFamily;
    color: $fontColor;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
