$fontFamily: 'ApercuPro';
$fontColor: #19202C;
$greyColor: #777777;
$footerBg: #BD243A;
body{
    font-family: $fontFamily;
    color: $fontColor;
}
.container{
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.5rem 2.85rem 1.5rem;
    gap: 2.5rem;
}

.header_logo{
    flex-grow: 1;
}
.header_logo svg{
    max-width: 13.5rem;
}
.header_nav__list{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.header_nav__item a{
    font-size: 1.2rem;
    font-family: 'ApercuPro';
    text-transform: uppercase;
    color: $fontColor;
    text-decoration: none;
    transition: .3s;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $fontColor;
        transition: .3s;
    }
    &:hover{
        &::before{
            width: 100%;
        }
    }
}
.social_list{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header_social .social_item a svg{
    fill: $greyColor;
    transition: .3s;
    &:hover{
        fill: rgb(40, 38, 38);
    }
}
.social_item a svg.facebook{
    width: 1rem;
    height: 1.9rem;
}
.social_item a svg.twitter{
    width: 2.5rem;
    height: 1.95rem;
}
.social_item a svg.rss,
.social_item a svg.rss_footer{
    width: 3rem;
    height: 2rem;
}
.social_item a svg.youtube{
    width: 2rem;
    height: 1.4rem;
}
.header_search{
    display: flex;
    align-items: center;
}
.icon_search{
    width: 1.75rem;
    height: 1.75rem;
    fill: #777!important;
}

.header_lang__list{
    display: flex;
}
.header_lang__item{
    padding:0 0.5rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $greyColor;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        background-color: $greyColor;

    }
    &:last-child{
        padding-right: 0;
        &::before{
            background-color: transparent;
        }
    }
}

.grid_block__wrapper{
    display: grid;
    grid-template-columns: repeat(5,21.5rem);
    gap: 1.8rem;
    padding: 6.5rem 0;
    grid-auto-flow: dense;
}
.grid_item{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    min-height: 22rem;
}
.grid_item.background{
    background: none;
    
}
.grid_item.s_1x2{
    grid-row: span 2;    
}

.grid_item.s_2x1{
    grid-column: span 2;    
}
.grid_item.s_2x2{
    grid-column: span 2;    
    grid-row: span 2;    
}
.grid_item.s_2x3{
    grid-column: span 3;    
    grid-row: span 2;    
}
.grid_item.background .grid_item__content{
    justify-content: flex-end;
}

.grid_item__title.title_22px{
    font-size: 2.2rem;
}
.grid_item__title.title_36px{
    font-size: 3.6rem;
    line-height: 3.6rem;
}



.grid_item__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem 2.5rem;

}

.grid_item__caption{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.6rem;
    gap: 1.2rem;
}
.grid_item__description{
    font-size: 1.2rem;
    margin-top: 20px;
}
.grid_item__tag{
    line-height: 1.1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #00568A;
    max-width: fit-content;

}
.grid_item__author{
    color: $greyColor;
    font-size: 1.2rem;

}

.grid_item__date{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.grid_item__background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.grid_item__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.grid_item__date span{
    font-size: 1.2rem;
    color: $greyColor;

}


.grid_item.background .grid_item__content .grid_item__caption{
    flex-direction: column;
    display: inline-flex;
}
.grid_item.background .grid_item__content .grid_item__caption .grid_item__tag{
    background-color: #00568A;

    padding: 0.5rem 1.5rem;
}
.grid_item.background .grid_item__content .grid_item__caption .grid_item__tag,
.grid_item.background .grid_item__content .grid_item__caption .grid_item__author{
    color: #fff;
}
.grid_item.background .grid_item__content .grid_item__title{
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.grid_item.background .grid_item__content .grid_item__description{
    color: #fff;
}

.grid_item.background .grid_item__content .grid_item__date span{
    color: #fff;

}
.grid_item.background .grid_item__date{
    margin-top: 2.5rem;

}

.grid_item.video .grid_item__text {
    display: flex;
    justify-content: flex-end;
}
.grid_item.video .grid_item__content .grid_item__caption{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5rem;
}
.grid_item.video .grid_item__content .grid_item__caption .grid_item__author{
    font-size: 1.28rem;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    display: inline;
}
.grid_item.video .grid_item__content .grid_item__title{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.grid_item.video .grid_item__content .grid_item__title span{
    text-align: center;
    max-width: fit-content;
    color: $fontColor;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    &:first-child,
    &:nth-child(2){
        color: #BD243A;
    }
}


.grid_item__watch{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.grid_item__watch span{
    font-size: 1.2rem;
    color: #fff;
    margin-right: 1rem;
}
.grid_item__watch svg{
    width: 1.7rem;
    height: 1.7rem;
    fill:#fff;
}
.s_2x1.image{
    flex-direction: row;
    gap: 0;
}

.grid_item.image .grid_item__content{
    width: 50%;
}
.s_1x2.image{
    gap: 0;
}
.s_2x2 .grid_item__content .grid_item__text .grid_item__caption{
    flex-direction: row;
}
.image.s_1x2 .grid_item__img,
.image.s_1x2 .grid_item__content{
    width: 100%;
}
.grid_item__img{
    width: 50%;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.grid_item__tag.tag_green{
    color: #4C7D14;
}
.grid_item__tag.tag_blue{
    color: #00568A;
}
.grid_item__tag.tag_lightblue{
    color: #5496E3;
}
.grid_item__tag.tag_orange{
    color: #F98C30;
}
.grid_item__tag.tag_pink{
    color: #C646A3;
}
.grid_item__tag.tag_violet{
    color: #3A2796;
}
.grid_item__tag.tag_red{
    color: #AF2323;
}

.grid_item .label{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    color: #fff;
    text-transform: uppercase;
}
.grid_item .label svg{
    width: 0.7rem;
    height: 1.5rem;
}

.footer{
    background-color: $footerBg;
    padding: 2rem 0 10rem 0;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    margin-bottom: 10rem;
}
.footer_column__title,
.footer_nav__item{
    font-size: 1.4rem;
    color: #fff;
    padding-bottom: 0.75rem;
    margin-bottom: 2.65rem;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.footer_nav__item a{
    color: inherit;
    transition: .3s;
    text-decoration: none;
    &:hover{
        color: rgb(200, 199, 199);
    }
}
.footer__logo svg{
    width: 13.6rem;
    height: 4.5rem;

}
.footer_column{
    &:last-child{
        width: 41rem;
    }
}

.footer_social{
    margin-bottom: 1.7rem;
}
.footer__copyright{
    display: inline-flex;
    align-items: center;
}
.footer__copyright span{
    color: #fff;
    &:first-child{
        font-size: 2.3rem;
        margin-right: 0.5rem;
    }
}
.footer_tag_list__title{
    font-size: 1.4rem;
    color: #fff;
    padding-bottom: 0.75rem;
    margin-bottom: 2.65rem;
    text-transform: uppercase;
}
.footer_tag_list__item{
    margin-bottom: 2rem;
}
.footer_tag_list__item a{
    font-size: 1.4rem;
    color: #fff;
    transition: .3s;
    text-decoration: none;
    &:hover{
        color: rgb(200, 199, 199);
    }
}

.footer_description span{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    display: inline-block;
    line-height: 1.6rem;
}
.icon_footer{
    fill: #fff!important;
    transition: .3s;
    &:hover{
        fill: rgb(200, 199, 199)!important;
    }
}

.footer_form input[type='email']{
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1.5rem 1rem;
    color: #fff;
    border-radius: 4px;
    max-width: 22rem;
    width: 100%;
    margin-right: 2rem;
    &::placeholder{
        color: #fff;
    }
    &:focus{
        border: 1px solid #fff;
    }
}
.button_submit{
    padding: 1rem 3rem;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background-color: rgba(255, 255, 255, 0.4);
    }
}